@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #633b1e;
    --clr-beige: #D2B48C;
    --clr-main-light: #8B4513;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    background-color: var(--clr-main);
}

aside {
    display: block;
    height: auto; /* Altura automática */
    position: static; /* Eliminar posición fija */
    padding: 8%; /* Reducir el relleno */
    background-image: url("../img/fondos/laPorteñaLogo.jpg");
    background-size: cover; /* Ajustar la imagen para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen dentro del contenedor */
    background-repeat: no-repeat;
}

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
    margin-bottom: 15px;
    background-color: black;
    margin-left: -48px;
    margin-right: -48px;
    padding: 0.2rem;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #71401e;
    border: 2px solid #492a13;
    border-radius: 0.5rem;
    margin-bottom: 25px;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-beige);
    color: var(--clr-main);
    border-radius: .5rem;
    position: relative;
}


.boton-menu > i.bi-hand-index-thumb-fill, 
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg)
}

main {
    background-image: url('../img/fondos/ParedMadera.jpeg');
    background-position: center;
    background-color: var(--clr-white);
    margin-left: 0;
    padding: 3rem;
    padding-top: 0;
    min-height: 100vh;
}

.titulo-principal {
    color: var(--clr-white);
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: baseline;
}

.producto-etiquetas {
    display: flex;
    justify-content: space-between;
}

.producto-detalles {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-beige);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-imagen {
    display: none;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-ver {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-ver:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.descripcion {
    display: none;
    background-color: var(--clr-white);
    color: var(--clr-main);
    margin-top: 5px;
    padding: .4rem;
    border-radius: 1rem;
}

/* Estilos específicos para dispositivos móviles */

@media screen and (max-width: 800px) {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    aside {
        padding: 5%;
    }

    .menu-logo {
        margin-left: -16px;
        margin-right: -16px;
    }

    .menu-img {
        margin-bottom: 50px;
    }

    .menu {
        gap: 0.1rem;
        margin-bottom: 10px;
    }

    .boton-menu {
        padding: .5rem;
    }

    .boton-menu.active::before {
        content: var(--clr-gray);
    }

    .boton-menu.active::after {
        content: var(--clr-gray);
    }

    main {
        padding: 1rem;
        padding-top: 0;
    }

    .titulo-principal {
        margin-bottom: 10px;
    }

    .producto {
        display: flex;
        width: 100%;
    }

    .contenedor-productos {
        grid-template-columns: repeat(1, 1fr);
        gap: .5rem;
    }

    .producto-precio {
        font-size: large;
        display: flex;
        align-items: center;
    }

    .producto-detalles {
        width: 100%;
        margin-top: 0;
    }
    
    .boton-detalles {
        display: flex;
        flex-direction: column;
    }

    .producto-etiqueta {
        display: flex;
    }

    .producto-ver {
        padding: .2rem;
        background-color: var(--clr-beige);
        margin-left: 30%;
        margin-right: 30%;
    }

    .producto-ver:hover {
        pointer-events: none;
    }

    .producto-imagen {
        display: block;
        max-width: 100px;
        max-height: 108px;
        border-radius: .5rem;
    }
}